
.Header{
  text-align: center;
  text-shadow: 3px 3px 2px skyblue;
}


.ButtonSec{
  padding: 40px;
  display: flex;
  flex-flow: row;
   justify-content: space-around;
}

button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  border: 15px;
  height: 40px;
  width: 300px;
  border-radius: 30px;
  border: 2px solid  black;
  padding: 5px;
}
.CardSec{
  margin-top:10%;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}
.classcard{
  position: absolute;
  right: 5%;
   background-color: aqua;
   text-align: center;
   width: 40%;
   border-radius: 20px;
   border: 2px solid black;
}
.funcard{
  position: absolute;
  left: 5%;
  background-color: aqua;
  text-align: center;
  width: 40%;
  border-radius: 20px;
  border: 2px solid black;
}
